.content-header {
    display: flex;
    margin-top: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 10px;
}
.tab-name {
    display: inline;
    margin-left: 20px;
}
.icon {
    display: inline;
    right: 20px;
    position: absolute;

}

.employee-detail-component {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.employee-working {
    flex-grow: 8;
}