.popup-content {
    padding: 0px;
    border: none;
    border-radius:0px;
}

.employee-add-modal .modal-header {
    background-color: #0d6efd;
    color: white;
}

.employee-add-modal .modal-body .form-group .title {
    font-size:75%;
    margin-bottom: 5px;
    color: rgb(216, 216, 216);
}

.employee-add-modal .modal-body .form-group .drop-down {
    border-bottom: solid 1px;
    border-color: rgb(216, 216, 216);
    height: 24px;
}

.employee-add-modal .modal-body .form-group .form-control {
    padding: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.employee-add-modal .modal-body .form-group .validator {
    font-size:75%;
    color: red;
    margin-bottom: 16px;
    height:18px;
    width: 50%;
    display: inline;
}

.employee-add-modal .modal-body .form-group .name-length-per-max {
    top: 0px;
    text-align: end;
    font-size:75%;
    color:rgb(216, 216, 216);
    margin-bottom: 16px;
    height:18px;
    width: 50%;
    display: inline;
}

.employee-add-modal .modal-body .form-group .form-group-address {
    width: 50%;
}

.employee-add-modal .modal-body .form-group .form-group-sex {
    width: 50%;
}

.employee-add-modal .modal-body .form-group .form-group-sex .drop-down {
    border-bottom: solid 1px;
    border-color:rgb(216, 216, 216);
    height: 24px;
}

.employee-add-modal .modal-body .form-group .form-group-sex .drop-down .btn {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content:space-between; 
    
}

.employee-add-modal .modal-body .form-group .form-group-sex .drop-down .btn::after {
    position: absolute;
    right:  5px;
    top: 10px;
}

.employee-add-modal .modal-body .form-group .form-group-age {
    width: 50%;
}

.employee-add-modal .modal-body .form-group .form-group-start {
    width: 50%;
}

.employee-add-modal .modal-body .form-group .form-group-money-per-hour {
    width: 50%;
}

.employee-add-modal .modal-body .form-group .form-group-phone-number {
    width: 50%;
}