.content-header {
    margin-top: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 10px;

}

.tab-name {
    display: inline;
    margin-left: 20px;
}

.icon {
    display: inline;
    right: 20px;
    position: absolute;

}

.bi-plus-circle-fill {
    height: 30px;
    width: auto;
    margin-right: 5px;
}
.bi-trash3-fill {
    height: 23px;
    width: auto;
}
.bi-pencil-square {
    margin-right: 10px;
}

.employee-detail {
    display: flex;
    margin-top: 5px;
}

.employee-detail-avatar {
    width: 175px;
    margin-right: 5%;
}
.employee-detail-working {
    width: 75%;
}