<ul class="nav nav-tabs">
    <li (click)="step = 1" class="nav-item">
        <p [ngClass]="step == 1 ? 'active':''" class="nav-link">INFORMATIONS</p>
    </li>
    <li (click)="step = 2" class="nav-item">
        <p [ngClass]="step == 2 ? 'active':''" class="nav-link">WORKING</p>
    </li>
    <li (click)="step = 3" class="nav-item">
        <p [ngClass]="step == 3 ? 'active':''" class="nav-link">ADVANCE</p>
    </li>
    <li (click)="step = 4" class="nav-item">
        <p [ngClass]="step == 4 ? 'active':''" class="nav-link">STATISTICS</p>
    </li>
</ul>

<div *ngIf="step == 1">
    <app-informations [employee]="employee"></app-informations>
</div>

<div *ngIf="step == 2">
    <app-working-date [employee]="employee"></app-working-date>
</div>

<div *ngIf="step == 3">
    <app-advances [employee]="employee"></app-advances>
</div>

<div *ngIf="step == 4">
    <app-statics [employee]="employee"></app-statics>
</div>