.avatar {
    margin-right: 5%;
    margin-top: 3%;
    width: 175px;
    flex-grow: 1;
}

.avatar .avatar-image-box {
    text-align: center;
    position: relative;
    height: 250px;
}

.avatar .avatar-image-box .avatar-image {
    width: 100%;
    height: 250px;
}

.avatar .avatar-image-box .uploadImageInput {
    display: none;
}

.avatar .badges {
    margin-right: 0px;
    text-align: center;
}
.avatar .badges .badge {
    border-radius: 5px;
    margin: 2px;
    margin-top: 5px;
    width: auto;
}

.avatar .avatar-image-box .upload-image {
    display: none;
    position: relative;
    top: -25px;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    height: 25px;
    justify-content: space-between;
}

.avatar .avatar-image-box .upload-image .button-submit,
.avatar .avatar-image-box .upload-image .input-choose {
    width: 45%;
    margin: 0px;
    border: none;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.avatar .avatar-image-box:hover .upload-image {
    display: flex;
}
