<div class="advance-detail">
    <h3>
        ADVANCE
    </h3>
    <table class="table-team-working-date table table-striped">
        <thead class="thead">
            <tr class="thead-row">
                <th scope="col">
                    <b>No</b>
                </th>
                <th scope="col">
                    <b>Date</b>
                </th>
                <th scope="col">
                    <b>Money</b>
                </th>
                <th scope="col">
                    <b>Option</b>
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr class="tbody-row" *ngFor="let workingAdvance of workingAdvanceList">
                <td class="advance-id">{{workingAdvance.id}}</td>
                <td class="advance-name">{{workingAdvance.date}}</td>
                <td class="advance-money">{{workingAdvance.money}}$</td>
                <td class="advance-trash">
                    <i class="bi bi-trash3-fill"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>