.advance-detail {
    margin-top: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
}
.table-team-working-date {
    text-align: center;
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    right: 0px;
}

.InovuaReactDataGrid {
    border:none !important
}
.InovuaReactDataGrid__column-header__content {
    text-align: center;
}
.InovuaReactDataGrid__cell {
    border:none !important
}

.InovuaReactDataGrid__column-header__resize-wrapper {
    border:none !important
}