<div class="infomation">
    <h3>INFOMATIONS</h3>
    <div class="row">
        <input type="text" class="col" placeholder="Start Date" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="col" placeholder="Team" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="row">
        <input type="text" class="col" placeholder="Addres" aria-label="Username" aria-describedby="basic-addon1">
        <input type="text" class="col" placeholder="Salary per hour" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</div>