<div class="statistics">
    <h3>Statistics</h3>

    <div class="row">
        <div class="row">
            <input type="number" class="col" placeholder="Month" [ngModel]="statisticsRequest.month" (ngModelChange)="setEmployeeStaticMonth($event)">
            <input type="number" class="col" placeholder="Year" [ngModel]="statisticsRequest.year" (ngModelChange)="setEmployeeStaticYear($event)">
            <button type="button" class="btn btn-primary col" (click)="getStatic()">Static</button>
        </div>
    </div>

    <div class="row" *ngIf="wasQuery">
        <h5>Result</h5>
    </div>

    <div class="row" *ngIf="wasQuery">
        <input type="text " class="col " placeholder="Number of working days " value="{{staticsReponse.totalNumberWorkingDate}}">
        <input type="text " class="col " placeholder="Total get " value="{{staticsReponse.totalMoneyGet|currency}}">
    </div>

    <div class="row" *ngIf="wasQuery">
        <input type="text " class="col " placeholder="Total Advance " value="{{staticsReponse.totalMoneyAdvance|currency}}">
        <input type="text " class="col " placeholder="Total recives  " value={{staticsReponse.totalMoneyGet-staticsReponse.totalMoneyAdvance|currency}}>
    </div>
</div>