<div class="statistics">
        <h3>Statistics</h3>
        <div class="row">
            <input type="text" class="col" placeholder="Number of working days" aria-label="Username" aria-describedby="basic-addon1">
            <input type="text" class="col" placeholder="Total get" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <input type="text" class="col" placeholder="Total Advance" aria-label="Username" aria-describedby="basic-addon1">
            <input type="text" class="col" placeholder="Total recives" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>